.sino {

    color: #226be2;
}
ul {
    list-style: none;
}
.zeleno {
 margin: 10px;
}

h5 {
    margin-left: 40px;
}
.kopce {
height: 30px;
width: 80px;
background: #e8ebef;
color: #226be2;
margin-left: 105px;
border-color: #226be2
}
.krpa {
    margin-left: 10px;
}
div {
background: #0e3366;
height: 300px;
width: 300px;
}
.iva {
    color: white;
    padding: 30px;
    margin-left: 20px;
}

button {
 height: 30px;
width: 60px;
background: #0e3366;
color: white;
margin: 20px 0 0 115px;
border-color: yellow;
}

a {
    margin-left: 111px;
    color: white;
    font-size: 15px;
}
























 








